*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

    
body{
    background-image: url('images/bg-desktop-light.jpg');
    background-repeat: no-repeat;
    width:100%;
    padding: 10px;
    background-color: hsl(0, 0%, 96%);
    background-size:contain;
    font-size: 18px;
    overflow:hidden;
   
    
}

.header{
    color:#fff;

}


.title{
    margin-top: 30px ;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    margin-bottom: 30px;
    
}

.active{
    cursor:pointer;

}


.new-todo{
   
    max-width: 540px;
    background: hsl(0, 0%, 98%);
    margin: 10px auto 15px;
    padding: 20px 30px 70px;
    border-radius: 5px;
    max-height: 20px;
}

.new-todo span{
    display:flex;
    
}

.input-box{
    flex:1;
    border:none;
    outline:none;
    background: transparent;
    padding:10px;
   color:hsl(235, 19%, 35%);
}
.input-image{
    width: 6%;
    height: auto;
}

.todo-app{
   
    max-width: 540px;
    background: hsl(0, 0%, 98%);
    margin: 15px auto 0;
    padding: 20px 30px 0px;
    border-radius: 5px 5px 0 0;
    min-height: 50px;
    overflow: hidden;
    min-height:100px;
    max-height: 300px;
    overflow: auto;
    scroll-behavior: smooth;
      
}


ul li{
    list-style: none;
    font-size: 18px;
    padding: 12px 8px 20px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    color: hsl(235, 19%, 35%);
    border-bottom: solid 1px hsl(233, 11%, 84%); 
     
}

ul li span{
    position:absolute;
    right:0;
   
}
ul li:last-child{
    border-bottom: none;
    
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    background-image: url(images/unchecked.svg);
    background-size: cover;
    background-position: center;
    top: 8px;
    left: 7px;
   
    
}
ul li:hover::before {
    background-image: url(images/unchecked-icon-hover.svg);

}

ul li.checked{
    color: hsl(233, 11%, 84%);
    text-decoration:line-through;
}
ul li.checked::before{
   background-image: url(images/checked-icon.svg); /*check svg given was not appearing*/
  
   
}

.cross-image{
    display:none;
    cursor:pointer;

}
li:hover .cross-image{
    display: inline-block;
}

.controls{
    
    max-width: 540px;
    background: hsl(0, 0%, 98%);
    margin: 0 auto 20px;
    border-radius: 0 0 5px 5px;
    padding: 12px;
    color:hsl(233, 11%, 84%);
    border-top: 1px solid hsl(233, 11%, 84%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

}
.controls span:hover{
    color: hsl(235, 19%, 35%);
    
}

.filters span{
    margin: 0 8px;
    font-size: 18px;
    cursor: pointer;
    white-space: nowrap;
}

.dark-theme{
    background-color:  hsl(235, 21%, 11%);
    color: hsl(234, 39%, 85%);
    background-image: url('images/bg-desktop-dark.jpg');
}

.dark-theme .new-todo{
    background: hsl(235, 24%, 19%);

}

.dark-theme input{
    color: hsl(236, 33%, 92%)
}

.dark-theme .todo-app{
    background: hsl(235, 24%, 19%);

}



.dark-theme ul li{
    color: hsl(236, 33%, 92%);
    border-bottom: solid 1px hsl(233, 14%, 35%); 
}
.dark-theme ul li.checked{
    color: hsl(233, 14%, 35%);
    text-decoration:line-through;
}
.dark-theme ul li:last-child{
    border-bottom: none;
    
}
.dark-theme .controls{
    background: hsl(235, 24%, 19%);
    color:hsl(233, 14%, 35%);
    border-top: 1px solid hsl(233, 14%, 35%);

}
.dark-theme .controls span:hover{
    color: hsl(236, 33%, 92%);
    
}
.dark-theme .controls span:active{
    color: #3a7bfd;
    
}

.rearrange{
    display:flex;
    justify-content: center;
   color:hsl(233, 11%, 84);
    font-size: 10px;
}



.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
.dark-theme .attribution{
    color: hsl(233, 14%, 35%);
}

